# Sprint 2: Data Preparation

### Loading data from CSV file

In [1]:
# import og nesecery libraries

import pandas as pd
import os

In [5]:
#youssef_path = '/Users/youssefbadran/Documents/datamatiker/4. semester/BI/sp500_data.csv'


#df_sp500 = pd.read_csv('/Users/youssefbadran/Documents/datamatiker/4. semester/BI/sp500_data.csv')
df_interest_inflation = pd.read_csv('https://raw.githubusercontent.com/badranyoussef/bi-exam-project-stock/main/datasets/fed_interest_rate_inflation.csv')

# Reading from split csv files
# define arr with csv file names from directory
dir = 'https://github.com/badranyoussef/bi-exam-project-stock/tree/main/datasets/sp500'
csv_files = [f for f in os.listdir(dir) if f.endswith('.csv')]

# load all csv-files into a data frame
dfs = [pd.read_csv(os.path.join(dir, file)) for file in csv_files]

# combine all DFs in one
df_sp500 = pd.concat(dfs, ignore_index=True)

FileNotFoundError: [Errno 2] No such file or directory: '/datasets/fed_interest_rate_inflation.csv'

### Cleaning SP500 DF

In [14]:
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4239723 entries, 0 to 4239722
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Open       float64
 2   High       float64
 3   Low        float64
 4   Close      float64
 5   Adj Close  float64
 6   Volume     float64
 7   Ticker     object
dtypes: float64(6), object(2)
memory usage: 258.8+ MB

In [15]:
df_sp500.head()

         Date  Open      High       Low     Close  Adj Close    Volume Ticker
0  1962-01-02   0.0  3.553512  3.448997  3.475125   0.570977  254509.0    MMM
1  1962-01-03   0.0  3.501254  3.416336  3.501254   0.575270  505190.0    MMM
2  1962-01-04   0.0  3.560044  3.501254  3.501254   0.575270  254509.0    MMM
3  1962-01-05   0.0  3.488190  3.396739  3.409804   0.560244  376979.0    MMM
4  1962-01-08   0.0  3.416336  3.370610  3.390207   0.557025  399942.0    MMM

In [16]:
df_sp500 = df_sp500.drop(columns="Ticker")

In [17]:
df_sp500.head()

         Date  Open      High       Low     Close  Adj Close    Volume
0  1962-01-02   0.0  3.553512  3.448997  3.475125   0.570977  254509.0
1  1962-01-03   0.0  3.501254  3.416336  3.501254   0.575270  505190.0
2  1962-01-04   0.0  3.560044  3.501254  3.501254   0.575270  254509.0
3  1962-01-05   0.0  3.488190  3.396739  3.409804   0.560244  376979.0
4  1962-01-08   0.0  3.416336  3.370610  3.390207   0.557025  399942.0

In [19]:
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4239723 entries, 0 to 4239722
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Open       float64
 2   High       float64
 3   Low        float64
 4   Close      float64
 5   Adj Close  float64
 6   Volume     float64
dtypes: float64(6), object(1)
memory usage: 226.4+ MB

In [20]:
# Checking for null values
print(df_sp500.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

### Cleaning interest and inflation DF

In [24]:
df_interest_inflation.sample(15)

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
518,1991,2,1,6.2500,NaN,NaN,6.25,NaN,6.6,5.6
193,1970,8,1,NaN,NaN,NaN,6.61,NaN,5.1,6.2
745,2005,8,9,3.5000,NaN,NaN,NaN,NaN,NaN,NaN
884,2015,11,1,NaN,0.25,0.0,0.12,NaN,5.0,2.0
349,1983,3,31,8.6250,NaN,NaN,NaN,NaN,NaN,NaN
443,1987,8,27,6.7500,NaN,NaN,NaN,NaN,NaN,NaN
233,1973,12,1,NaN,NaN,NaN,9.95,NaN,4.9,4.7
553,1993,2,1,3.0000,NaN,NaN,3.03,NaN,7.1,3.6
293,1978,12,1,NaN,NaN,NaN,10.03,NaN,6.0,8.5
585,1995,4,1,6.0000,NaN,NaN,6.05,1.4,5.8,3.1
308,1980,3,1,NaN,NaN,NaN,17.19,NaN,6.3,12.5
862,2014,1,1,NaN,0.25,0.0,0.07,-1.2,6.6,1.6
669,2001,1,31,5.5000,NaN,NaN,NaN,NaN,NaN,NaN
345,1982,12,14,8.5000,NaN,NaN,NaN,NaN,NaN,NaN
417,1986,4,2,7.3125,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_interest_inflation_dropped = df_interest_inflation.drop([0])

df_interest_inflation.head()

   Year  Month  Day  Effective Federal Funds Rate  Inflation Rate
0  1954      7    1                          0.80             NaN
1  1954      8    1                          1.22             NaN
2  1954      9    1                          1.06             NaN
3  1954     10    1                          0.85             NaN
4  1954     11    1                          0.83             NaN

In [45]:
df_interest_inflation.head()

   Year  Month  Day  Effective Federal Funds Rate  Inflation Rate
0  1954      7    1                          0.80             NaN
1  1954      8    1                          1.22             NaN
2  1954      9    1                          1.06             NaN
3  1954     10    1                          0.85             NaN
4  1954     11    1                          0.83             NaN

### Data seams to be pretty clean and ready to use. There are no null or missing values. I only dropped on column called Ticker which has no influence in our project